:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Inter-Bold;
    src: url(./assets/fonts/static/Inter-Bold.ttf)
}

@font-face {
    font-family: Inter-Regular;
    src: url(./assets/fonts/static/Inter-Regular.ttf)
}

@font-face {
    font-family: Inter-SemiBold;
    src: url(./assets/fonts/static/Inter-SemiBold.ttf)
}

* {
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}